<div class="edit-form-overlay" *ngIf="selectedProduct">
  <form class="edit-form" [formGroup]="editForm" (ngSubmit)="onSave()">
    <mat-form-field appearance="outline" floatLabel="always" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre del producto" />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="full-width">
      <mat-label>Precio</mat-label>
      <span matPrefix>$&nbsp;</span>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="full-width">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock" />
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button style="background-color: green; color: white;" type="submit" >
        Guardar
      </button>
      <button mat-stroked-button color="warn" type="button">
        Cancelar
      </button>
    </div>
  </form>
</div>