:host{
    max-width: 100vw;
}
.admin-container{
    display: flex;
    width: 100%;
    height: auto;
}
.content{
    width: 100%;
    max-width: 100vw;
    margin-left: 250px; 
    padding: 20px;
}
.nav{
    width: 250px;
}
@media screen and (max-width: 1220px) {
    .admin-container{
        flex-direction: column;
        max-width: 100vw;
    }
    .content{
        margin-left: 0;
        margin-top: 20px;
        margin-left: 0;
        max-width: 100vw;
        padding: 0;
    }
    .nav{
        width: 100%;
        height: auto;
    }
    
}