

@if (selectedCategory) {
  <app-category-edit-form
  
  [category]="selectedCategory"
  (cancel)="cancelEdit()"
  (saved)="updateCategory($event)"
>

</app-category-edit-form>
}


<div class="page-header">
  <div class="header-left">
    <div class="icon-container">
      <span class="material-icons"><mat-icon>category</mat-icon></span>
    </div>
    <div>
      <h1 class="page-title">Categorias</h1>
      <p class="page-subtitle">Categorias de productos</p>
    </div>
  </div>

</div>

<div class="content">
  <app-category-create-form></app-category-create-form>
  @for (category of categories; track $index) {
      <mat-card class="card">
           <mat-card-title class="card-item">
              <small class="title"> NOMBRE </small>
               {{category.name}}
           </mat-card-title>
           <mat-card-content class="card-item">
              <small class="title"> DESCRIPCION </small>
               {{category.description}}
           </mat-card-content>
   
           <mat-card-actions class="card-item">
              <small class="title"> ACCIONES </small>
              <div class="buttons">
                  <button mat-icon-button class="btn-card" (click)="editCategory(category)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-card" style="color: red;" (click)="deleteCategory(category.idcategory)">
                      <mat-icon>delete</mat-icon>
                    </button>
              </div>
               
           </mat-card-actions>
      </mat-card>
       
   }
</div>
