.card{
    width: 90%;
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}
.card-item{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:start;
    padding: 0px;
    height: 70px;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-card{
    border: none;
    background-color: white;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.title{
    font-size: 10px;
    color: gray;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}