<div class="create">
  
  <app-product-create-form></app-product-create-form>
</div>

<app-products-filter 
  [categories]="categories"
  [products]="productsLoaded"
  (filterChange)="onProductsFiltered($event)"
  [initialStock]="initialStock"
  >
</app-products-filter>



<div  class="products-container">
    <div class="grid header">
      <div>#</div>
      <div>Nombre</div>
      <div>Precio</div>
      <div>Stock</div>
      <div>Acciones</div>
    </div>

    @if (errorMesagge ) {
    <div class="no-products">
      <mat-icon>info</mat-icon>
      {{ errorMesagge }}
    </div>
    }
    <app-product-item  (edit)="editProduct($event)" (onDelete)="onDelete($event)" *ngFor="let product of paginatedProducts; let i = index; trackBy: trackById" [product]="product" [index]="i" (visibilityChange)="onVisibilityChange($event)"></app-product-item>
    

    <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage===0">Anterior</button>
    <span>Página {{currentPage + 1}} de {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="currentPage+1===totalPages">Siguiente</button>
    </div>
</div>

@if (selectedProduct) {
  <div class="edit-form-overlay" >
    <app-product-edit-form
    [selectedProduct]="selectedProduct" 
    (save)="updateProduct($event)"
    (cancel)="selectedProduct = null"
    > 
    </app-product-edit-form>
  </div>

}

