
.grid {
    max-width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
    background-color: #ffbb008f;
    padding: 5px;
    justify-content: space-evenly;
     
}

.create{
  display: flex;
  align-items: center;
  font-size: 18px;
}
.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
