
<nav class="sidebar">
  <button class="btn-toggle"> 

  </button>
  <div class="nav-content">

      <ul>
        <li>
          <mat-icon class="nav-icon">home</mat-icon>
          <a  routerLink="/admin/inicio" routerLinkActive="active"> Inicio </a></li>
        <li>
          <mat-icon class="nav-icon">category</mat-icon>
          <a routerLink="/admin/categorias" routerLinkActive="active"> Categorias </a></li>
        <li>
          <mat-icon class="nav-icon">shopping_cart</mat-icon>
          <a routerLink="/admin/productos" routerLinkActive="active" > Productos </a></li>
      </ul>

      <button mat-icon-button  class="btn-logout">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </div>
</nav>
