<button class="btn-toggle" (click)="toggleMenu()">
<mat-icon>{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
</button>

<nav class="sidebar" [class.open]="menuOpen">
  <!-- Botón hamburguesa -->
  <div class="nav-content">
    <ul>
      <li>
        <mat-icon class="nav-icon">home</mat-icon>
        <a routerLink="/admin/inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li>
        <mat-icon class="nav-icon">category</mat-icon>
        <a routerLink="/admin/categorias" routerLinkActive="active">Categorías</a>
      </li>
      <li>
        <mat-icon class="nav-icon">shopping_cart</mat-icon>
        <a routerLink="/admin/productos" routerLinkActive="active">Productos</a>
      </li>
      <li>
        <mat-icon class="nav-icon">local_offer</mat-icon>
        <a routerLink="/admin/combos" routerLinkActive="active">Combos</a>
      </li>
    </ul>

    <button class="btn-logout" (click)="onLogOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </div>
</nav>
